{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{ product.product_img.url }}" alt="" class="img-fluid img-thumbnail" style='height:400px' >
  </div>
  <div class="col-sm-5 offset-sm-1 text-center">
   <h2>{{ product.title}} By {{product.artist}}</h2>
   <hr>
   <p>{{ product.description}}</p> <br>
   <h4>Rs. {{ product.discounted_price }} <small class="fw-light text-decoration-line-through">{{ product.selling_price}}</small></h4> <br>
   <div class='links'>
       {% if request.user.is_authenticated %}
       {% if already_in_cart %}
       <a href="{% url 'show_cart' %}" class="add-to"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Go To Cart</a>
       {% else %}
       <span id='gotocart'>
        <a href="{% url 'show_cart' %}" class="add-to"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Go To Cart</a>
        </span>
        <span id='addtocart'>
        <a href="#" class="add-to btn-block" pid='{{product.id}}' id='addtocart'><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
        </span>
        {% comment %} <form action='/add-to-cart/' method='get' class='d-inline'>
            <input type='hidden' value={{product.id}} name='prod_id' id='prod_id'>     
            <button type='submit' class='add-to'><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to Cart</button>
        </form> {% endcomment %}
       {% endif %}
       {% else %}
       
        <a href="{% url 'login' %}" class="add-to btn-block" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
        
       {% endif %}
   
   
</div>
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
    <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
    <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}